.footer{
	#background: rgba(93,24,19,0.9);
	background-color: #721d17;
	width:100%;
	padding-top: 2vw;
	border-top: 0.2vw solid black;
	height: 15vw;
	z-index: 11;
	position: relative;
	text-align: center;
}
.footer h3{
	margin-top:0;
	margin-bottom: 1vw;
	color: white;
	font-family: 'Copse';
	font-size: 3vw;
	width: 100%;
}

.footer img{
	width: 10%;
	height: 7vw;
}