.socialnavcls{
	float: right;
	padding-right: 5%;
}
.socialnavcls a{
	padding-left: 2vw;
}
#iconinsta{
	padding-top: 1vw;
	font-size: 3vw;
	color: #FFB53C;
}
#iconinsta:hover{
	color: white;
}

#iconfb{
	padding-top: 5px;
	font-size: 3vw;
	color:#FFB53C;
}
#iconfb:hover{
	color:white;
}